<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Task Manager: <%= requser.handle %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="chai.js" type="text/javascript"></script>
</head>
  <body>
    
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
          <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class = "navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href = "/users/prof/<%=requser.handle%>">Home</a>
              </li>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editprof">
                  Edit Profile
              </button>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newgroup">
                  New Group
                </button>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newcat">
                    New Category
              </button>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#delcat">
                  Delete Category
              </button>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#joingroup">
                  Join Group
              </button>
              <%groups.forEach(function(element){ %>
              <li class="nav-item active">
                <a class="btn btn-secondary" href="/<%=element.grouphandle%>" role="button"><%=element.grouphandle%></a>
              </li>
              <%})%>
            </ul>
          </div>
          <span class="navbar-test">
              <a  role="button" href="/users/logout" class="btn btn-secondary">Log Out</a>
            </span>
        </nav>
        <div class="modal fade" id="editprof" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Edit Profile</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form method ="POST" action = "users/prof/edit/<%=requser.handle%>">
                      <div class="blur-box form-group card text-center text-light mt-5 pb-5 pr-5 pl-5 pt-2 bg-secondary" method ="POST" action = "users/prof/edit/<%=requser.handle%>">
                          <br>
                              <input type="text" class="form-control mb-3" name="name" placeholder="<%=user.name%>">
                              <input type="password" class="form-control mb-3" name="password" placeholder="<%=user.password%>">
                                <div class="modal-footer" >
                                  <div class="col">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                          <input type="Submit" value="Edit Information" class="btn float-right btn-lg btn-primary"></input>
                                  </div>
                              </div>
                              </div>
                          </div>
                      </form>
                </div>
              </div>
            </div>
          </div>
        <div class="modal fade" id="joingroup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Join Group</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form method ="POST" action = "/users/joingroup/">
                      <div class="blur-box form-group card text-center text-light mt-5 pb-5 pr-5 pl-5 pt-2 bg-secondary" method="POST" action = "/users/joingroup/">
                          <br>
                            <select class="form-control" name="category" id="Categories">
                              <input type="text" class="form-control mb-3" name="password" placeholder="Password">
                              <% allgroups.forEach(function(element){ %>
                                <option value='<%=element.handle%>'><%=element.handle%></option>
                              <% })  %>
                              </select>
                              <div class="modal-footer" >
                                  <div class="col">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                          <input type="Submit" value="Delete Category" class="btn float-right btn-lg btn-primary"></input>
                                  </div>
                              </div>
                              </div>
                          </div>
                      </form>
                </div>
                <div class="modal-footer">
                </div>
              </div>
            </div>
          </div>
        <div class="modal fade" id="delcat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Delete Category</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form method ="DELETE" action = "/users/deletecategory/<%=user[0].handle%>">
                      <div class="blur-box form-group card text-center text-light mt-5 pb-5 pr-5 pl-5 pt-2 bg-secondary" method="DELETE" action = "/users/deletecategory/<%=user[0].handle%>">
                          <br>
                            <select class="form-control" name="category" id="Categories">
                              <% user.forEach(function(element){ %>
                                <option value='<%=element.category%>'><%=element.category%></option>
                              <% })  %>
                              </select>
                              <div class="modal-footer" >
                                  <div class="col">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                          <input type="Submit" value="Delete Category" class="btn float-right btn-lg btn-primary"></input>
                                  </div>
                              </div>
                              </div>
                          </div>
                      </form>
                </div>
                <div class="modal-footer">
                </div>
              </div>
            </div>
          </div>
        <div class="modal fade" id="newcat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">New Category</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form method ="POST" action = "/users/addcategory/<%=user[0].handle%>">
                      <div class="blur-box form-group card text-center text-light mt-5 pb-5 pr-5 pl-5 pt-2 bg-secondary" method="POST" action = "/users/addcategory/<%=user[0].handle%>">
                          <br>
                              <input type="text" class="form-control mb-3" name="category" placeholder="Category Name">
                              <div class="modal-footer" >
                                  <div class="col">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                          <input type="Submit" value="New Category" class="btn float-right btn-lg btn-primary"></input>
                                  </div>
                              </div>
                              </div>
                          </div>
                      </form>
                </div>
                <div class="modal-footer">

                </div>
              </div>
            </div>
          </div>
        <div class="modal fade" id="newgroup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">New Group</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form method ="POST" action = "/groups/new">
                      <div class="blur-box form-group card text-center text-light mt-5 pb-5 pr-5 pl-5 pt-2 bg-secondary" method="POST" action = "/users/signedup">
                          <br>
                              <input type="text" class="form-control mb-3" name="name" placeholder="Group name">
                              <input type="text" class="form-control mb-3" name="username" placeholder="Handle: NOTE THIS CANNOT BE CHANGED">
                              <input type="password" class="form-control mb-3" name="password1" placeholder="Password">
                              <input type="password" class="form-control mb-5" name="password2" placeholder="Please Reenter Password">
                              <div class="modal-footer" >
                                  <div class="col">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                          <input type="Submit" value="Sign Up" class="btn float-right btn-lg btn-primary"></input>
                                  </div>
                              </div>
                              </div>
                          </div>
                      </form>
                </div>
              </div>
            </div>
          </div>
    <div class="container">
      <div class = "row">
        <div class = "col-md-4 name-contain ">
          <div class="card bg-light mt-5 border-top rounded" style="border-top: solid; border-top-width: 30px; border-top-color:#00B7FF; ">
         <!--<p class="bg-primary text-primary box" style: "height: 100px">you<br>found<br>secret<br>text</p>-->
            <h2 class="card-title text-center"><%=user[0].name%></h5>
            <h6 class="text-center text-handle">@<%=user[0].handle%></h6>
         </div>
        </div>
        <div class = "col-md-8">

          <div class="card bg-primary mt-3">
            <form class="form-group" id="twitter-post" method="POST" action="/users/tasks/new/<%=user[0].handle%>">
                <textarea name="message" type="text" onkeydown="limitText(this.message,this.countdown,250);" onkeyup='limitText(this.form.message,this.form.countdown,250);' id="post_area" class="form-control sending" placeholder="Type in here!"></textarea>
                <input readonly class="bg-primary" type="text" name="countdown" size="3" value="250"> /250
                <div class="row">
                  <div class = "container">
                      <div class="col">
                        <br>
                        <div id="text_remain"></div>
                      </div>
                      <select class="form-control" name="category" id="Categories">
                        <% user.forEach(function(element){ %>
                          <option value='<%=element.category%>'><%=element.category%></option>
                        <% })  %>
                        </select>

                        <h5>Select Due Date: </h5><input type="date" name="duetime">
                      <div class="col">
                          <button type="submit" id="btn-sending" class="btn button-send float-right btn-secondary">Add Task</button>
                      </div>   
                  </div>
                  
                </div>
              </form>
            </div>    
            <ul class="list-group mt-5" name="messages" id="messages">
                <% tasks.forEach(function(element){ %>
                    <%if( !element.completed){%>
                    <li class="list-group-item d-inline-block">
                        <h5><%=element.name%></h5> <br>
                        <%=element.category%>
                        @<%=element.grouphandle%>
                        <a class="btn btn-success float-right" href="/users/tasks/complete/<%=element.id%>" role="button"><%= element.duetime %></a>                            
                    </li>
                    <%}%>
                <% }); %>
            </ul>
        </div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
       	$(function(){
          var socket = io();

          socket.on('posttask', function(msg){
            console.log('task sent');
            console.log(msg.message);
            $('#messages').prepend('<li class="list-group-item d-inline-block"><h5 class="d-inline-block">'+ msg.message +'</h5>@'+ msg.user.handle + '<a class="btn btn-success float-right" href="/users/tasks/complete/' + msg.id + '" role=\"button\">'+ msg.time + '</a></li>');
            });
      });
      
      
              function limitText(limitField, limitCount, limitNum) {
          if (limitField.value.length > limitNum) {
            limitField.value = limitField.value.substring(0, limitNum);
          } else {
            limitCount.value = limitNum - limitField.value.length;
          }
        };
    </script>
  </body>
</html>
