<!doctype <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profile: <%= handle %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
          <ul class = "navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href = "/">Home</a>
            </li>
            <li class="nav-item active">
              <a class="btn btn-secondary" href="/users/loginpage" role="button">Login to New Account</a>
              <a class="btn btn-secondary" href="/users/profilepage/<%=handle%>" role="button">Profile Page</a>
              <a class="btn btn-secondary" href="/users/logout" role="button">Log Out</a>
            </li>
          </ul>
        </div>
        <span class="navbar-test">
            <a  role="button" href="/<%=handle%>" class="btn btn-secondary">Tweet</a>
          </span>
      </nav>
              <div class="container">
                <div class = "row">
                  <div class = "col-md-4 name-contain ">
                    <div class="card bg-light mt-5 border-top rounded" style="border-top: solid; border-top-width: 30px; border-top-color:#00B7FF; ">
                   <p class="bg-primary text-primary box" style: "height: 100px">you<br>found<br>secret<br>text</p>
                      <h2 class="card-title text-center"><a href = "/users/profilepage/<%=handle%>"><%=name%></a></h5>
                      <h6 class="text-center">@<%=handle%></h6>
                      <div class = "row justify-content-around">
                        <div class = "text-center col-7">
                          Tweets <br> <%=tweets%>
                        </div>
                        <div class = "text-center col">
                          Following <br> <%=following.length%>
                        </div>
                    </div> 
                   </div>
                   <br>
                   <% if (reqHandle == handle){ %>
                   <h2 class="text-primary text-center">Potential Followers</h2>
                   <ul class="list-group"name = "potfol">
                      <% followpot.forEach(function(element){ %>
                        <% if(!( following.includes(element) || (element.handle == handle) )){ %>
                        <li class="list-group-item">
                          <div class="row">
                            <div class="col">
                                <h5 class="d-inline-block"><a href = "/users/profilepage/<%=element.handle%>"><%=element.name%></a></h5>
                                @<%=element.handle%>
                            </div>
                          </div>
                          <input type="button" value="Follow" class="btn-follow btn btn-primary" data-person-id="<%=element.handle%>" data-person-name="<%=element.name%>"/>
                        </li>
                        <% }; %>
                        <%});%>
                      </ul>
                      <h2 class="text-primary text-center">Following</h2>
                      <ul class="list-group" name="follows" id = "follows" value = "follows">
                         <% following.forEach(function(element){ %>
                           <li class="list-group-item">
                             <div class="row">
                               <div class="col">
                                   <h5 class="d-inline-block"><a href = "/users/profilepage/<%=element.handle%>"><%=element.name%></a></h5>
                                   @<%=element.handle%>
                               </div>
                             </div>
                             <input type="button" value="Unfollow" class="btn-unfollow btn btn-primary" data-person-id="<%=element.handle%>" data-person-name="<%=element.name%>"/>
                           </li>
                           <% }); %>
                           <%};%>
                         </ul>

                  </div>
                  <div class = "col-md-8">
                      <ul class="list-group mt-5" name="messages">
                        <% posts.forEach(function(element){%>
                          <% if(element.user.handle == handle){ %>
                          <li class="list-group-item d-inline-block">
                            <div class = "row">
                              <div class= "col">
                                  <!--pic
                                  <img src = "<%=element.image%>" class="rounded-circle border border-primary image-post">-->
                                  <h5 class="d-inline-block"><%=element.user.name%></h5>
                                  @<%=element.user.handle%>
                              </div>
                              <div class="col text-right text-muted">
                                <%=element.date%>
                              </div>
                              </div>
                              <div class = "row text-left pl-4">
                                <br><%=element.information%>
                              </div>
                            </li>
                              
                          </li>
                          <% }; %>
                          <% });%>
                      </ul>
                  </div>
                </div>
              </div>
    <script>
      $(function(){
              $('.btn-follow').on('click', function(e){
                var button = $(this);
                console.log(button);
                var followHandle = $(this).attr('data-person-id');
                var name = $(this).attr('data-person-name');
                $.ajax({
                  Method: 'GET',
                  url: '/users/addfollower/' + followHandle,
            //      data: followHandle
                }).done(function(response){
                  button.closest('li').remove();
                  $('#follows').prepend('<li class="list-group-item"><div class="row"><div class="col"><h5 class="d-inline-block"><a href = "/users/profilepage/'+ followHandle.toString() +'">' + name.toString() + '</a></h5>@' + followHandle.toString() + '</div></div><input type="button" value="Unfollow" class="btn-unfollow btn btn-primary" data-person-id='+ followHandle.toString() +'/></li>'); 
                //  var inputbutton = document.createElement("input");

                 // $('#following').prepend()
              });
              $('.btn-unfollow').on('click', function(e){
                var button = $(this);
                console.log(button);
                var followHandle = $(this).attr('data-person-id');
                var name = $(this).attr('data-person-name');
                $.ajax({
                  Method: 'GET',
                  url: '/users/removefollower/' + followHandle,
            //      data: followHandle
                }).done(function(response){
                  button.closest('li').remove();
                  $('potfol').prepend('<li class="list-group-item"><div class="row"><div class="col"><h5 class="d-inline-block"><a href = "/users/profilepage/'+ followHandle.toString() +'">' + name.toString() + '</a></h5>@' + followHandle.toString() + '</div></div><input type="button" value="Follow" class="btn-follow btn btn-primary" data-person-id='+ followHandle.toString() +'/></li>'); 
                //   $('#potfol').prepend(""<li class="list-group-item">
                //              <div class="row">
                //                <div class="col">
                //                    <h5 class="d-inline-block"><a href = "/users/profilepage/
                //                     " + followHandle + ">" + name + "</a></h5>
                //                    @" + followHandle + "
                //                </div>
                //              </div>
                //              <input type="button" value="Follow" class="btn-follow btn btn-primary" data-person-id=" + followHandle/>
                //            </li>");
              });
              });
      });
    });
      
    </script>
</body>
</html>